.form {
 height: 25vh;
    width: 50%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 3rem;
    margin-right: 15px;
}

input {
    font-size: 3rem;
    width: 50%;
    margin: 10px;
    border-radius: 7px;
    
}

.submit-button {
    width: 35%;
    background-color: #42b0f1;
    border: none;
    color: white;
    font-size: 2rem;
}